<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profesores</title>
        <link rel="stylesheet" th:href="@{css/style.css}" href="../static/css/"/>
    </head>
    <body>
        <div th:replace="/components/nav"></div>
        <div th:replace="/components/title"></div>

        <a th:if="${r.getParameter('value') == 'all' || r.getParameter('value') == null}"  th:href="'/profesores?value=new'">
            <input class="new" type="button" value="Nuevo">
        </a>
        <table th:if="${r.getParameter('value') == 'all' || r.getParameter('value') == null}" class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre Y Apellido</th>
                    <th colspan="2">Accion</th>
                </tr>     
            </thead>
            <tbody>
                <tr th:each="p : ${p}">
                    <td th:text="${p.getId()}"></td>
                    <td th:text="${p.getNombreApellido()}"></td>
                    <td><a th:href="'/profesores?value=update&id=' + ${p.getId()}"><input type="button" value="Actualizar"></a></td>

                </tr>
            </tbody>
        </table>

        <form th:if="${r.getParameter('value') == 'new' || r.getParameter('value') == 'update'}" th:action="@{/profesores}" th:object="${p}" th:method="post">
            <input type="hidden" name="id" th:field="*{id}"/>
            <label for="nombreApellido">Nombre y Apellido</label>
            <input type="text" id="nombreApellido" name="nombreApellido" th:field="*{nombreApellido}" th:value="*{nombreApellido}"/>
            <input type="submit" value="Enviar">    
            <a th:href="'/profesores?value=all'">
                <input type="button" value="Cancelar">
            </a>
            <input th:if="${r.getParameter('value') == 'new'}" type="reset" value="Limpiar">
        </form>
    </body>
</html>
